<% include partials/header %>
    <div class="ui main text container">
            <%if (blogs.toString() != []) { %>
        <div class="ui huge header">Blog Site</div>
        
        <div class="ui top attached segment">
            <div class="ui divided items">
                <% blogs.forEach(function(blog){ %>
                    <div class="item">
                        <div class="image">
                            <img src="<%= blog.image %>">
                        </div>
                        <div class="content">
                            <a class="header">
                                <%= blog.title %>
                            </a>
                            <div class="meta">
                                <span class="cinema"><%= blog.created.toDateString() %></span>
                            </div>
                            <div class="description">
                                <p>
                                    <%  if(blog.body.length > 100){ %>
                                    <%- blog.body.substring(0, 100) + " ..." %>
                                    <% } else { %>
                                    <%-blog.body %>
                                    <% } %>
                                </p>
                            </div>
                            <div class="extra">
                                <a href="/blogs/<%=blog._id %>" class="ui floated basic violet button">
                                    Read More
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
        <% }  else { %>
            <div class="ui huge header">Blog Site</div>

            <div class="ui top attached segment">
                <div class="ui divided items">
                    <div class="item">
                        <div class="content">
                            <a class="header">
                                    No Blogs at the moment
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
                </div>
                <% include partials/footer %>